DBSDER_API_URL=http://dbsder-api-dbsder-api-1:3000
DBSDER_API_KEY=9ad44ab5-3416-4989-90a6-3cfe972175de
NLP_API_URL=http://host.docker.internal:8081
ZONING_API_URL=http://host.docker.internal:8090
COLLECT_API_KEY=cf01e595-4798-4d18-9ed0-653a6f391425

# Redis Queue
REDIS_HOST=redis:6379
REDIS_PASSWORD=
REDIS_DB=0