---
- name: Create CronJob batch
  k8s:
    apply: true
    state: present
    verify_ssl: true
    definition:
      apiVersion: batch/v1
      kind: CronJob
      metadata:
        name: "{{ batch_app_id }}-cronjob"
        namespace: "{{ jurinorm_namespace }}"
        labels:
          app: "{{ batch_app_id }}"
      spec:
        schedule: "{{ normalization_batch_schedule }}"
        suspend: "{{ env == 'DEV' }}"
        timeZone: Europe/Paris
        successfulJobsHistoryLimit: 3
        failedJobsHistoryLimit: 10
        concurrencyPolicy: Forbid
        jobTemplate:
          spec:
            template:
              metadata:
                labels:
                  app: "{{ batch_app_id }}"
              spec:
                restartPolicy: OnFailure
                containers:
                  - name: "{{ batch_app_id }}"
                    image: "{{ batch_image }}"
                    envFrom:
                      - configMapRef:
                          name: "batch-config"
                      - secretRef:
                          name: "batch-secret"
...
